# Compiled class file
*.class sarpr4s

# Log file
*.log login

# BlueJ files
*.ctxt sarpr4s

# Mobile Tools for Java (J2ME)
.mtj.tmp/images/img-/storage/emulated/0/profile photos/project sarpr4s 20200422_075820.jpg

# Package Files #
*.jar
*.war 
*.nar
*.ear
*.zip = XI-RPL3-4-muhammad rizal1.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
